In [9]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('C:/Users/chait/Desktop/DJSCE/IPD_Medledger/weather_data_2009_2024.csv')
df['Date'] = pd.to_datetime(df['Date'])

In [19]:
df

,Date,Average Temperature (C),Average Temperature (F),Most Repeated Weather Phrase,Average Wind Speed (mph),Average Wind Speed (kph),Average Wind Degree,Most Repeated Wind Direction,Average Pressure,Average Dew Point,Average Heat Index,Average Visibility,Most Repeated Cloud Cover,Average UV Index
0,2009-01-01,10.707071,51.27272727,Fair,6.093750,9.806916,279.0625,W,29.178864,48.13636364,51.27272727,0.306136,CLR,-31.500000
1,2009-02-01,11.072351,51.93023256,Fair,5.000000,8.046700,302.5,CALM,29.193488,44.72093023,51.93023256,0.430465,CLR,0.000000
2,2009-03-01,9.308642,48.75555556,Cloudy,5.129032,8.254357,124.1935484,ESE,29.208444,47.2,48.75555556,0.199333,OVC,-45.155556
3,2009-04-01,11.485507,52.67391304,Cloudy,4.977273,8.010124,119.7727273,E,29.143913,48.63043478,52.67391304,0.380870,OVC,-32.369565
4,2009-05-01,14.056848,57.30232558,Partly Cloudy,4.852941,7.810032,246.1764706,NW,29.093953,52.20930233,57.30232558,0.451628,SCT,-25.093023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5191,2024-02-19,21.099537,69.97916667,Haze,10.333333,16.629847,104.1666667,E,29.011250,51.72916667,70.0625,1.000000,FEW,0.854167
5192,2024-02-20,21.099537,69.97916667,Haze,4.479167,7.208502,133.4782609,E,29.015417,58.33333333,69.95833333,0.936875,SCT,0.895833
5193,2024-02-21,19.386574,66.89583333,Haze,6.041667,9.723096,282.5531915,W,29.018333,53.10416667,66.91666667,1.073125,FEW,1.437500
5194,2024-02-22,19.066194,66.31914894,Haze,5.127660,8.252148,281.8918919,NW,29.092766,43.89361702,66.31914894,1.574468,CLR,1.340426
5195,2024-02-23,17.141204,62.85416667,Haze,5.083333,8.180812,276.2790698,NW,29.177500,41.10416667,62.85416667,1.875000,CLR,1.500000

In [21]:
covid = pd.read_csv('daily-covid-cases-deaths.csv')
covid = covid[covid['Entity'] == 'India']
covid.reset_index(inplace=True)
covid.drop(columns=['index'], inplace=True)
covid['Disease'] = 'Covid-19'
covid.rename(columns={'Daily new confirmed cases of COVID-19': 'Cases', 'Daily new confirmed deaths due to COVID-19': 'Deaths', 'Day': 'Date'}, inplace=True)
covid['Date'] = pd.to_datetime(covid['Date'])
covid

     Entity Code       Date   Cases  Deaths   Disease
0     India  IND 2020-01-05     0.0     0.0  Covid-19
1     India  IND 2020-01-06     0.0     0.0  Covid-19
2     India  IND 2020-01-07     0.0     0.0  Covid-19
3     India  IND 2020-01-08     0.0     0.0  Covid-19
4     India  IND 2020-01-09     0.0     0.0  Covid-19
...     ...  ...        ...     ...     ...       ...
1487  India  IND 2024-01-31     0.0     0.0  Covid-19
1488  India  IND 2024-02-01     0.0     0.0  Covid-19
1489  India  IND 2024-02-02     0.0     0.0  Covid-19
1490  India  IND 2024-02-03     0.0     0.0  Covid-19
1491  India  IND 2024-02-04  1063.0     9.0  Covid-19

[1492 rows x 6 columns]

In [25]:
daily_covid = pd.merge(covid, df, on='Date', how='inner')
daily_covid

,Entity,Code,Date,Cases,Deaths,Disease,Average Temperature (C),Average Temperature (F),Most Repeated Weather Phrase,Average Wind Speed (mph),Average Wind Speed (kph),Average Wind Degree,Most Repeated Wind Direction,Average Pressure,Average Dew Point,Average Heat Index,Average Visibility,Most Repeated Cloud Cover,Average UV Index
0,India,IND,2020-01-05,0.0,0.0,Covid-19,31.516204,88.72916667,Haze,5.500000,8.851370,166.3888889,CALM,28.885000,65.79166667,91.14583333,1.541667,CLR,2.687500
1,India,IND,2020-01-06,0.0,0.0,Covid-19,28.557920,83.40425532,Haze,1.723404,2.773543,141.1111111,CALM,28.925957,67.65957447,85.59574468,1.914894,SCT,2.765957
2,India,IND,2020-01-07,0.0,0.0,Covid-19,34.085648,93.35416667,Haze,6.562500,10.561294,114.1666667,ESE,28.706875,76.5,106.5833333,1.145833,BKN,1.708333
3,India,IND,2020-01-08,0.0,0.0,Covid-19,28.888889,84,Fog,3.500000,5.632690,152.5,ESE,28.777500,80.5,97.5,1.000000,BKN,0.000000
4,India,IND,2020-01-09,0.0,0.0,Covid-19,29.606481,85.29166667,Haze,5.187500,8.348451,163.125,S,28.850417,74.70833333,92.79166667,2.062500,SCT,1.729167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141,India,IND,2024-01-29,0.0,0.0,Covid-19,14.113475,57.40425532,Fog,4.872340,7.841252,173.9130435,W,29.221915,52,57.40425532,0.636809,CLR,1.042553
1142,India,IND,2024-01-30,0.0,0.0,Covid-19,12.695035,54.85106383,Fog,3.042553,4.896503,261.9444444,WSW,29.201702,52.4893617,54.85106383,0.302340,OVC,0.638298
1143,India,IND,2024-01-31,0.0,0.0,Covid-19,12.696759,54.85416667,Fog,3.791667,6.102081,122.1875,CALM,29.168125,53.54166667,54.85416667,0.274167,OVC,0.604167
1144,India,IND,2024-02-01,0.0,0.0,Covid-19,11.076389,51.9375,Mist,3.875000,6.236192,247.826087,WNW,29.223750,46.54166667,51.9375,0.797917,CLR,0.833333
1145,India,IND,2024-02-02,0.0,0.0,Covid-19,12.719907,54.89583333,Mist,4.062500,6.537944,255.1515152,W,29.265833,53.54166667,54.89583333,0.518333,FEW,0.458333

In [28]:
daily_covid.to_csv('Daily/daily_covid.csv')
daily_covid['Cases'].sum()

44595334.0

In [32]:
influenza = pd.read_csv('influenza.csv')
influenza = influenza[influenza['Country'] == 'India']
influenza.reset_index(inplace=True)
influenza.drop(columns=['index'], inplace=True)
influenza_sum = influenza.iloc[:, 3:].sum(axis=1)
influenza = pd.concat([influenza.iloc[:, :2], influenza_sum], axis=1)
influenza['Code'] = 'IND'
influenza['Disease'] = 'Influenza'
influenza['Deaths'] = np.nan
influenza.rename(columns={'Country': 'Entity', 0: 'Cases', 'Month': 'Date'}, inplace=True)
influenza = influenza[['Entity', 'Code', 'Date', 'Cases', 'Deaths', 'Disease']]
influenza['Date'] = pd.to_datetime(influenza['Date'])
influenza

    Entity Code       Date         Cases  Deaths    Disease
0    India  IND 2009-01-01    486.000000     NaN  Influenza
1    India  IND 2009-02-01    521.921569     NaN  Influenza
2    India  IND 2009-03-01    272.985075     NaN  Influenza
3    India  IND 2009-04-01      0.000000     NaN  Influenza
4    India  IND 2009-05-01      0.000000     NaN  Influenza
..     ...  ...        ...           ...     ...        ...
175  India  IND 2023-08-01  22931.610600     NaN  Influenza
176  India  IND 2023-09-01  11526.537825     NaN  Influenza
177  India  IND 2023-10-01  22434.966998     NaN  Influenza
178  India  IND 2023-11-01   5459.485526     NaN  Influenza
179  India  IND 2023-12-01   8851.060869     NaN  Influenza

[180 rows x 6 columns]

In [33]:
monthly_influenza = pd.merge(influenza, df, on='Date', how='inner')
monthly_influenza.to_csv('Daily/monthly_influenza.csv')
monthly_influenza

,Entity,Code,Date,Cases,Deaths,Disease,Average Temperature (C),Average Temperature (F),Most Repeated Weather Phrase,Average Wind Speed (mph),Average Wind Speed (kph),Average Wind Degree,Most Repeated Wind Direction,Average Pressure,Average Dew Point,Average Heat Index,Average Visibility,Most Repeated Cloud Cover,Average UV Index
0,India,IND,2009-01-01,486.000000,NaN,Influenza,10.707071,51.27272727,Fair,6.093750,9.806916,279.0625,W,29.178864,48.13636364,51.27272727,0.306136,CLR,-31.500000
1,India,IND,2009-02-01,521.921569,NaN,Influenza,11.072351,51.93023256,Fair,5.000000,8.046700,302.5,CALM,29.193488,44.72093023,51.93023256,0.430465,CLR,0.000000
2,India,IND,2009-03-01,272.985075,NaN,Influenza,9.308642,48.75555556,Cloudy,5.129032,8.254357,124.1935484,ESE,29.208444,47.2,48.75555556,0.199333,OVC,-45.155556
3,India,IND,2009-04-01,0.000000,NaN,Influenza,11.485507,52.67391304,Cloudy,4.977273,8.010124,119.7727273,E,29.143913,48.63043478,52.67391304,0.380870,OVC,-32.369565
4,India,IND,2009-05-01,0.000000,NaN,Influenza,14.056848,57.30232558,Partly Cloudy,4.852941,7.810032,246.1764706,NW,29.093953,52.20930233,57.30232558,0.451628,SCT,-25.093023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,India,IND,2022-08-01,29703.021991,NaN,Influenza,15.858586,60.54545455,Fog,8.295455,13.350207,92.14285714,E,29.159773,59.22727273,60.54545455,0.795455,OVC,0.409091
164,India,IND,2022-09-01,18416.610716,NaN,Influenza,13.715278,56.6875,Fog,4.916667,7.912588,258.9189189,W,29.146250,55.95833333,56.6875,0.800417,OVC,0.375000
165,India,IND,2022-10-01,14643.686176,NaN,Influenza,12.395833,54.3125,Fog,3.812500,6.135609,274.5945946,W,29.221667,52.47916667,54.3125,0.795417,SCT,0.625000
166,India,IND,2022-11-01,8614.339370,NaN,Influenza,10.969267,51.74468085,Fog,5.617021,9.039697,269.4871795,W,29.224043,50.23404255,51.74468085,0.612553,CLR,0.872340
167,India,IND,2022-12-01,10388.629745,NaN,Influenza,11.296296,52.33333333,Fog,3.729167,6.001497,263.8235294,W,29.206875,49.375,52.33333333,0.728750,SCT,0.625000